.u-center-text{text-align: center !important;}
.u-align-left{text-align: left !important;}
.u-align-right{text-align: right !important;}

//Margin Utilities

.u-mb-small {margin-bottom: 1.5rem !important;}
.u-mb-medium{margin-bottom: 4rem !important;}
.u-mb-large {margin-bottom: 7rem !important;}

.u-mr-small {margin-right: 1.5rem !important;}
.u-mr-medium{margin-right: 4rem !important;}
.u-mr-large {margin-right: 7rem !important;}

.u-ml-small {margin-left: 1.5rem !important;}
.u-ml-medium{margin-left: 4rem !important;}
.u-ml-large {margin-left: 7rem !important;}

.u-mt-small {margin-top: 1.5rem !important;}
.u-mt-medium{margin-top: 4rem !important;}
.u-mt-large {margin-top: 7rem !important;}

//Padding Utilities

.u-pb-small {padding-bottom: 1.5rem !important;}
.u-pb-medium{padding-bottom: 4rem !important;}
.u-pb-large {padding-bottom: 7rem !important;}

.u-pr-small {padding-right: 1.5rem !important;}
.u-pr-medium{padding-right: 4rem !important;}
.u-pr-large {padding-right: 7rem !important;}

.u-pl-small {padding-left: 1.5rem !important;}
.u-pl-medium{padding-left: 4rem !important;}
.u-pl-large {padding-left: 7rem !important;}

.u-pt-small {padding-top: 1.5rem !important;}
.u-pt-medium{padding-top: 4rem !important;}
.u-pt-large {padding-top: 7rem !important;}

//Colors